<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testimonies</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <style>
        .swiper-slide {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40px;
        }

        .nav-btn {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            transform: translateY(20px);
            background-color: rgba(0, 0, 0, 0.1);
            transition: 0.3s;
        }

        .nav-btn::after,
        .nav-btn::before {
            font-size: 20px;
            color: white;
        }

        .nav-btn:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    </style>
</head>

<body>

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Testimonies -->
    <section class="h-[100vh] w-full flex items-center justify-center bg-blue-200">

        <!--  -->
        <div class="testimonies mySwiper max-w-[900px] w-full relative py-10 overflow-hidden">
            <div class="test-content swiper-wrapper">
                <div class="slide swiper-slide items-center justify-center flex-col gap-5 text-center">
                    <img class="h-64 w-64 object-cover aspect-square rounded-full" src="VOICE_Images/voice_img1.jpg"
                        alt="image1">
                    <div class="details flex flex-col items-center">
                        <span class="text-2xl font-bold text-gray-800 uppercase">aryan bibhuti</span>
                        <span class="text-[18px] font-semibold text-gray-700">Computer Science and Engineering IIT
                            Kharagpur, PhD MIT</span>
                    </div>
                    <div class="quote flex pl-2">
                        <i class='bx bxs-quote-left'></i>
                        <p class="w-full text-center text-xl">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus libero saepe
                            quae repellendus. Amet reiciendis perspiciatis voluptatibus maiores sed delectus sapiente
                            earum eum.
                        </p>
                        <i class='bx bxs-quote-right pr-2'></i>

                    </div>
                </div>

                <div class="slide swiper-slide flex items-center justify-center flex-col gap-5">
                    <img class="h-64 w-64 object-cover aspect-square rounded-full" src="VOICE_Images/voice_img1.jpg"
                        alt="image1">
                    <div class="details flex flex-col items-center">
                        <span class="text-2xl font-bold text-gray-800 uppercase">aryan bibhuti</span>
                        <span class="text-[18px] font-semibold text-gray-700">Computer Science and Engineering IIT
                            Kharagpur, PhD MIT</span>
                    </div>
                    <div class="quote flex pl-2">
                        <i class='bx bxs-quote-left'></i>
                        <p class="w-full text-center text-xl">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus libero saepe
                            quae repellendus. Amet reiciendis perspiciatis voluptatibus maiores sed delectus sapiente
                            earum eum.
                        </p>
                        <i class='bx bxs-quote-right pr-2'></i>

                    </div>
                </div>

                <div class="slide swiper-slide flex items-center justify-center flex-col gap-5">
                    <img class="h-64 w-64 object-cover aspect-square rounded-full" src="VOICE_Images/voice_img1.jpg"
                        alt="image1">
                    <div class="details flex flex-col items-center">
                        <span class="text-2xl font-bold text-gray-800 uppercase">aryan bibhuti</span>
                        <span class="text-[18px] font-semibold text-gray-700">Computer Science and Engineering IIT
                            Kharagpur, PhD MIT</span>
                    </div>
                    <div class="quote flex pl-2">
                        <i class='bx bxs-quote-left'></i>
                        <p class="w-full text-center text-xl">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus libero saepe
                            quae repellendus. Amet reiciendis perspiciatis voluptatibus maiores sed delectus sapiente
                            earum eum.
                        </p>
                        <i class='bx bxs-quote-right pr-2'></i>

                    </div>
                </div>

                <div class="slide swiper-slide flex items-center justify-center flex-col gap-5">
                    <img class="h-64 w-64 object-cover aspect-square rounded-full" src="VOICE_Images/voice_img1.jpg"
                        alt="image1">
                    <div class="details flex flex-col items-center">
                        <span class="text-2xl font-bold text-gray-800 uppercase">aryan bibhuti</span>
                        <span class="text-[18px] font-semibold text-gray-700">Computer Science and Engineering IIT
                            Kharagpur, PhD MIT</span>
                    </div>
                    <div class="quote flex pl-2">
                        <i class='bx bxs-quote-left'></i>
                        <p class="w-full text-center text-xl">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus libero saepe
                            quae repellendus. Amet reiciendis perspiciatis voluptatibus maiores sed delectus sapiente
                            earum eum.
                        </p>
                        <i class='bx bxs-quote-right pr-2'></i>

                    </div>
                </div>

                <div class="slide swiper-slide flex items-center justify-center flex-col gap-5">
                    <img class="h-64 w-64 object-cover aspect-square rounded-full" src="VOICE_Images/voice_img1.jpg"
                        alt="image1">
                    <div class="details flex flex-col items-center">
                        <span class="text-2xl font-bold text-gray-800 uppercase">aryan bibhuti</span>
                        <span class="text-[18px] font-semibold text-gray-700">Computer Science and Engineering IIT
                            Kharagpur, PhD MIT</span>
                    </div>
                    <div class="quote flex pl-2">
                        <i class='bx bxs-quote-left'></i>
                        <p class="w-full text-center text-xl">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus libero saepe
                            quae repellendus. Amet reiciendis perspiciatis voluptatibus maiores sed delectus sapiente
                            earum eum.
                        </p>
                        <i class='bx bxs-quote-right pr-2'></i>

                    </div>
                </div>
            </div>

            <div class="swiper-button-next nav-btn"></div>
            <div class="swiper-button-prev nav-btn"></div>
            <div class="swiper-pagination"></div>

        </div>
    </section>

    <!-- Swiper JS -->

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            grabCursor: true,
            loop: true,
            speed: 3000,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>
</body>

</html>