<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article</title>
    <link rel="stylesheet" href="latest_article.css">
</head>
<body>
    <article class="flex">
        <div class="testimonies">
            Testimonies
        </div>
        <div class="update-box">
            <div class="heading">
                Latest Articles
            </div>
            <div class="content">
                <ol type="1">
                    <li>God and Gods</li>
                    <li>Ideal Worship or Idol Worship</li>
                    <li>Can Faith Be Reasonable</li>
                    <li>If God is One then why so many Religions</li>
                    <li>Life comes from Life</li>
                </ol>
            </div>
        </div>
    </article>
</body>
</html>