<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sadhana Card</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <!-- Include Navbar -->
    {% include 'navbar.html' %}

    <div class="main-container">
        
        {% include 'verticalbar_sadhana.html' %}
        <!-- Main Content Area -->
        <div class="content-container">
            <h2>Sadhana Card</h2>
            
        </div>
    </div>

</body>
</html>
